{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    // "ecmaFeatures": {
    //   "jsx": true
    // },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "curly": "warn",
    "no-console": ["warn", { "allow": ["error"] }],
    "prettier/prettier": ["off", { "semi": false }],
    "@typescript-eslint/ban-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unknown-property": "off"
  }
}
