/* Button */
.big-button {
  @apply bg-pink-200 text-btn;
  border-radius: 8px;
  border: 2px solid #000;
  color: #fff;
  box-shadow: 1px 1px 0px 0px #000;
  display: flex;
  width: inherit;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  font-weight: 700;
}

.big-button:hover {
  @apply bg-pink-300;
}

.big-button:disabled {
  @apply bg-gray-500;
  opacity: 0.6;
  cursor: auto;
}

.small-button {
  @apply text-gray-800;
  display: flex;
  height: 40px;
  padding: 10px 31px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #000;
}

.white {
  background: #fff;
  color: #444;
}

.white:hover {
  @apply bg-gray-200;
}

.red {
  background: linear-gradient(180deg, #fff5f5 23.44%, #ff8d97 100%);
}
.red:hover {
  background: linear-gradient(180deg, #ffe0e0 23.44%, #f67470 100%);
}

.green {
  background: linear-gradient(180deg, #f3fff9 20.95%, #82ffce 100%);
}
.green:hover {
  background: linear-gradient(180deg, #dafff6 20.95%, #16e0af 100%);
}

.gray {
  background: linear-gradient(180deg, #fff 23.55%, #b7b7b7 100%);
}

.small-button:disabled {
  @apply bg-gray-100;
  opacity: 0.6;
  background: linear-gradient(180deg, #f1f1f1 23.44%, #bbb 100%);
}
.gray:disabled {
  background: linear-gradient(180deg, #fff 23.55%, #dedede 100%);
}

/* Popup */
.popup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.popup-content {
  width: 80%;
  z-index: 100;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 10% 10%;
  /* padding: 40px 44px 30px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.popup-content > .button-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}

/* Tag */
.tag {
  border-radius: 20px;
  border: 1px solid #000;
  background: linear-gradient(180deg, #fff 46.99%, #b7b7b7 100%);
  display: flex;
  height: 32px;
  padding: 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--gray-1, #333);
  font-size: 0.725rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Header */
.header {
  @apply font-neo text-effect_t;
  font-size: 1.38rem;
  font-weight: 400;
  white-space: nowrap;
}

.header::before {
  @apply absolute left-0 top-0 font-neo text-effect_t;
  font-size: 1.38rem;
  content: attr(data-content);
  line-height: 140%;
  -webkit-text-stroke: 6px white;
}

.header::after {
  @apply absolute left-0 top-0 font-neo text-effect_t;
  color: black;
  content: attr(data-content);
}

.shadow {
  --shadow: #000;

  @apply absolute left-0 top-0 font-neo text-effect_t;
  left: 0.18rem;
  top: 0.17rem;
  color: var(--shadow);
  /* color: black; */
  font-size: 1.38rem;
  -webkit-text-stroke: 5px var(--shadow);
  /* -webkit-text-stroke: 5px #000; */
  white-space: nowrap;
}

.shadow .blue {
  color: #2fdec2;
  -webkit-text-stroke: 5px #2fdec2;
}

/* Step Select */
.selectbox {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1.3px solid var(--bg-black, #000);
  box-shadow: 2px 3px 0px 0px #000;
  background: #fff;
}

.step-box-selected::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 50%;

  animation: bg 0.3s ease;
}

.step-box-disabled::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fffdfd;
  opacity: 87%;
}

@keyframes bg {
  0% {
    opacity: 0;
  }
}

.check::before {
  content: '';
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: 28px;
  left: 22px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.check::after {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(305deg);
  top: 36px;
  left: 27px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}

.step-box-selected ~ .check::before {
  width: 10px;
  transition: width 100ms ease;
}
.step-box-selected ~ .check::after {
  width: 17px;
  transition: width 150ms ease 100ms;
}

/* x svg */
.x {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.x::before,
.x::after {
  position: absolute;
  content: '';
  width: 40%;
  height: 2px;
  border-radius: 16px;
  background: #000;
}

.x::before {
  transform: rotate(45deg);
}
.x::after {
  transform: rotate(-45deg);
}

/* Focus Input */
.focus-input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.focus-input-content {
  position: relative;
  z-index: 50;
  margin-top: 30%;
}

.focus-input-content > section:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  gap: 15px;
  color: white;
}

.focus-input-content > section:first-child > textarea {
  background: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  text-align: center;
  padding-bottom: 14px;
  /* height: auto; */
}

.focus-input-content > section:last-child {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Minus Button - CustomPopup */
.minus-button {
  background: #fff;
  border-radius: 7px;
  position: relative;
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus-button::before {
  content: '';
  width: 2px;
  height: 60%;
  background: #000;
  transform: rotate(90deg);
}

/* Filp - animation */
.flip,
.front,
.back {
  width: 100%;
  height: 100%;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}
