@tailwind base;
@tailwind components;
@tailwind utilities;

@import './abstracts/mixins';

* {
  box-sizing: border-box;
}
html,
body {
  @include full;
  @include space-zero;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include space-zero;
}

ul,
ol,
dl {
  margin: 0;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
}

img {
  border: none;
  max-width: 100%;
}

#__next {
  @include full;
}
