@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'neodgm';
  font-weight: 400;
  src: url('/fonts/neodgm.woff') format('woff');
}

/* mobile */
@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .step-box:has(.swiper-slide) {
    height: 63px;
  }

  .step-box:has(.swiper-slide) .swiper-slide {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 800px) {
  .step-box:has(.swiper-slide) {
    height: 73px;
  }

  .step-box:has(.swiper-slide) .swiper-slide {
    width: 70px;
    height: 70px;
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 16px;
  }

  ul,
  ol,
  dl {
    margin: 0;
  }

  article,
  aside,
  audio,
  footer,
  header,
  nav,
  section,
  video {
    display: block;
  }

  p {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  textarea {
    resize: vertical;
  }

  table {
    border-collapse: collapse;
  }

  img {
    border: none;
    max-width: 100%;
  }

  input,
  textarea {
    outline: none;
  }

  mark {
    background-color: transparent;
    color: #0fc89b;
    text-decoration: underline;
    cursor: pointer;
  }
}

@layer components {
  .header-shadow {
    --shadow: #000;

    @apply absolute left-[0.18rem] top-[0.17rem] whitespace-nowrap font-neo text-[1.38rem] text-effect_t;
    color: var(--shadow);
    -webkit-text-stroke: 5px var(--shadow);
  }

  .header {
    @apply whitespace-nowrap font-neo text-effect_t font-normal;
  }

  .header::before {
    @apply absolute left-0 top-0 font-neo text-effect_t;
    content: attr(data-content);
    -webkit-text-stroke: 6px white;
  }

  .header::after {
    @apply absolute left-0 top-0 font-neo text-effect_t text-black;
    content: attr(data-content);
  }
}

/* tailwind */
@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .font-display-block {
    font-display: block;
  }

  .justify-end {
    justify-content: end;
  }

  /* gradient */
  .green-gradient {
    background: linear-gradient(180deg, #fff 77.2%, #b5ffd7 100%);
  }

  .green-circle-gradient {
    background-image: url('/icons/green-circle-gradient.svg');
    background-size: cover;
  }

  .white-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 25.64%);
  }

  .gray-gradient {
    border-radius: 20px;
    border: 1px solid #000;
    background: linear-gradient(180deg, #fff 46.99%, #b7b7b7 100%);
    box-shadow: 1px 1px 0px 0px #000;
    color: #ff54ed;
  }

  .green-pink-gradient {
    background: linear-gradient(
      0deg,
      #ffc6cb 0%,
      #fff 7.93%,
      #f5fff7 46.47%,
      #cafde7 76.16%,
      #6fffc7 100%
    );
  }

  .pink-green-gradient {
    background-image: linear-gradient(180deg, #ffe1e3 0%, #fff 7.41%, #fff 77.2%, #b5ffd7 100%);
  }

  .pink-green-gradient-with-grid {
    background-image: url('/images/bg.png'),
      linear-gradient(180deg, #ffe1e3 0%, #fff 7.41%, #fff 77.2%, #b5ffd7 100%);
  }

  .green-line {
    background: linear-gradient(180deg, #bbffda 0%, #fff 25%, #fff 95.83%, #bdffdc 100%);
  }

  .black-shadow {
    border: 1px solid #000;
    box-shadow: 1px 1px 0px 0px #000;
  }
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-card:has(.swiper-slide) {
  overflow-y: visible;
}
.swiper-card:has(.swiper-slide) .swiper-slide {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev,
.swiper-button-next,
.swiper-button-disabled {
  opacity: 0 !important;
  height: 100% !important;
  top: 20px !important;
}
