.main {
  width: 100%;
  height: 100%;
  /* FIXME: global에서 사용하는것과 동일!! */
  background: linear-gradient(
    0deg,
    #ffc6cb 0%,
    #fff 7.93%,
    #f5fff7 46.47%,
    #cafde7 76.16%,
    #6fffc7 100%
  );
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* step - shape */
.dimmed::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: #000;
  opacity: 0.2;
  filter: drop-shadow(2px 3px 0px #000);
}

/* step - letter */
.input-count {
  color: var(--gray-5, #bbb);
  text-align: right;
  font-family: Apple SD Gothic Neo;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.letter-name {
  width: 100%;
  border-bottom: 1px solid #bbb;
}
.letter-name ~ span {
  position: absolute;
  right: 0;
}
.letter-name,
.letter-name ~ span {
  padding-bottom: 10px;
}

/* lock icon */
.lock {
  width: 15px;
  height: 16px;
  background: #888;
  position: relative;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.lock::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 8px;
  border: 2.5px solid #888;
  border-top-right-radius: 60%;
  border-top-left-radius: 60%;
  border-bottom: 0;
  bottom: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  translate: all 0.5s ease-in-out;
}

.unlock {
  background: #0fc89b;
}

.unlock::before {
  border-color: #0fc89b;
  transform-origin: left;
  transform: rotate(-30deg);
  bottom: 14px;
}
