@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .press {
    @apply transition-transform duration-200 active:scale-95;
  }
}

@font-face {
  font-family: 'neodgm';
  font-weight: 400;
  src: url('/fonts/neodgm.woff2') format('woff2');
}

:root {
  /* Primary Colors */
  --color-primary-blue-10: #041c6b;
  --color-primary-blue-20: #062981;
  --color-primary-blue-30: #0a3ba0;
  --color-primary-blue-40: #0f4fbf;
  --color-primary-blue-50: #1567df;
  --color-primary-blue-60: #4b93eb;
  --color-primary-blue-70: #70b1f5;
  --color-primary-blue-80: #a0d0fb;
  --color-primary-blue-90: #cfe9fd;

  --color-primary-green-10: #18797a;
  --color-primary-green-20: #299389;
  --color-primary-green-30: #41b7a0;
  --color-primary-green-40: #5fdbb6;
  --color-primary-green-50: #82ffce;
  --color-primary-green-60: #a1ffd0;
  --color-primary-green-70: #b3ffd2;
  --color-primary-green-80: #cdffdc;
  --color-primary-green-90: #ef66eb;

  /* Secondary Colors */
  --color-secondary-pink-10: #720279;
  --color-secondary-pink-20: #93038e;
  --color-secondary-pink-30: #b6069f;
  --color-secondary-pink-40: #da08a9;
  --color-secondary-pink-50: #fe0cae;
  --color-secondary-pink-60: #fe48b0;
  --color-secondary-pink-70: #fe6db1;
  --color-secondary-pink-80: #fe9dc2;
  --color-secondary-pink-90: #fecedb;

  --color-secondary-yellow-10: #785913;
  --color-secondary-yellow-20: #927120;
  --color-secondary-yellow-30: #b59232;
  --color-secondary-yellow-40: #d8b649;
  --color-secondary-yellow-50: #fcdb65;
  --color-secondary-yellow-60: #fde68b;
  --color-secondary-yellow-70: #feeea2;
  --color-secondary-yellow-80: #fef5c1;
  --color-secondary-yellow-90: #fefae0;

  --color-secondary-mint-10: #01395e;
  --color-secondary-mint-20: #024e72;
  --color-secondary-mint-30: #046d8d;
  --color-secondary-mint-40: #0590a9;
  --color-secondary-mint-50: #08b8c5;
  --color-secondary-mint-60: #3ddcd9;
  --color-secondary-mint-70: #64ede0;
  --color-secondary-mint-80: #99f9e8;
  --color-secondary-mint-90: #cbfcef;

  /* Grayscale */
  --color-grayscale-gray1: #f5f5f5;
  --color-grayscale-gray2: #f0f0f0;
  --color-grayscale-gray3: #e0e0e0;
  --color-grayscale-gray4: #dddddd;
  --color-grayscale-gray5: #bbbbbb;
  --color-grayscale-gray6: #888888;
  --color-grayscale-gray7: #444444;
  --color-grayscale-gray8: #333333;
  --color-grayscale-gray9: #111111;

  /* Background Colors */
  --color-bg-white: #ffffff;
  --color-bg-black: #000000;
  --color-bg-error: #f93b3b;

  --nav-height: 72px;
}

/* mobile */
/* @media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 20px;
    width: 100dvw;
    height: 100dvh;
  }
} */

@media (max-width: 800px) {
  .step-box:has(.swiper-slide) {
    height: 63px;
  }

  .step-box:has(.swiper-slide) .swiper-slide {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 800px) {
  .step-box:has(.swiper-slide) {
    height: 73px;
  }

  .step-box:has(.swiper-slide) .swiper-slide {
    width: 70px;
    height: 70px;
  }

  .step-box-selected ~ .check::before {
    width: 14px;
  }

  .step-box-selected ~ .check::after {
    width: 23px;
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  input,
  textarea {
    outline: none;
  }

  mark {
    background-color: transparent;
    color: #0fc89b;
    text-decoration: underline;
    cursor: pointer;
  }
}

@layer components {
  /* HEADER */
  .header-shadow {
    --shadow: #000;
    color: var(--shadow);
    -webkit-text-stroke: 5px var(--shadow);
  }
  .header-stroke {
    -webkit-text-stroke: 6px white;
  }
  /* CheckBox */
  .check-selected::after {
    @apply absolute left-0 top-0 h-full w-full animate-bg-opacity bg-black opacity-50 content-[""];
  }
  .check-disabled::after {
    @apply absolute left-0 top-0 h-full w-full bg-[#fffdfd] opacity-[87%] content-[""];
  }
  .check {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center;
  }
  .check::before {
    @apply absolute left-[50%] h-[2px] w-0 origin-[0%_0%] rotate-45 rounded-sm  bg-white;
    content: '';
    transform: translateX(-50%) rotate(45deg);
    transition: width 50ms ease 50ms;
  }
  .check::after {
    @apply absolute left-[50%] h-[2px] w-0 origin-[0%_0%] rounded-sm bg-white;
    content: '';
    transform: translateY(calc(100% + 5px)) rotate(310deg); /* check before width만큼 translateY */
    transition: width 50ms ease;
  }
  .check-selected ~ .check::before {
    width: 10px;
    transition: width 100ms ease;
  }
  .check-selected ~ .check::after {
    width: 17px;
    transition: width 150ms ease 100ms;
  }

  /* Check X */
  .check-x {
    @apply flex h-full w-full items-center justify-center;
  }

  .check-x::before,
  .check-x::after {
    @apply absolute h-[2px] w-[40%] rounded-2xl bg-black;
    content: '';
  }

  .check-x::before {
    transform: rotate(45deg);
  }
  .check-x::after {
    transform: rotate(-45deg);
  }

  /* Focus Input */
  .focus-input {
    @apply w-full border-b border-b-white bg-transparent pb-4 text-center font-neo text-effect_t;
  }
}

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .font-display-block {
    font-display: block;
  }

  .justify-end {
    justify-content: end;
  }

  .h-full-screen {
    height: 100dvh;
  }

  /* gradient */
  .green-gradient {
    background: linear-gradient(180deg, #fff 77.2%, #b5ffd7 100%);
  }

  .blue-circle-gradient {
    background-image: url('/icons/blue-circle-gradient.svg');
    background-size: cover;
  }

  .white-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 25.64%);
  }

  .gray-gradient {
    background: linear-gradient(180deg, #fff 46.99%, #b7b7b7 100%);
  }

  .blue-pink-gradient {
    background: linear-gradient(
      180deg,
      var(--color-secondary-pink-80) 0%,
      var(--color-bg-white) 7.93%,
      var(--color-bg-white) 76.16%,
      var(--color-primary-blue-90) 100%
    );
  }

  .pink-gradient {
    background: linear-gradient(
      180deg,
      var(--color-secondary-pink-80) 0%,
      var(--color-bg-white) 7.93%
    );
  }

  .green-pink-gradient {
    background: linear-gradient(
      0deg,
      #ffc6cb 0%,
      #fff 7.93%,
      #f5fff7 46.47%,
      #cafde7 76.16%,
      #6fffc7 100%
    );
  }

  .green-pink-swap-gradient {
    background-image: linear-gradient(90deg, #b3ffd2 0%, #fe9dc2 100%);
  }

  .pink-green-gradient {
    background-image: linear-gradient(180deg, #ffe1e3 0%, #fff 7.41%, #fff 77.2%, #b5ffd7 100%);
  }

  .pink-green-gradient-with-grid {
    background-image: url('/images/bg.png'),
      linear-gradient(180deg, #ffe1e3 0%, #fff 7.41%, #fff 77.2%, #b5ffd7 100%);
  }

  .green-line {
    background: linear-gradient(180deg, #bbffda 0%, #fff 25%, #fff 95.83%, #bdffdc 100%);
  }

  .black-shadow {
    border: 1px solid #000;
    box-shadow: 1px 1px 0px 0px #000;
  }
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-card:has(.swiper-slide) {
  overflow-y: visible;
}
.swiper-card:has(.swiper-slide) .swiper-slide {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev,
.swiper-button-next,
.swiper-button-disabled {
  opacity: 0 !important;
  height: 100% !important;
  top: 20px !important;
}
